doctype html
html
    head
        title Birds of Aotearoa
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="icon", type="image/x-icon", href="/favicon.ico")
        link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet" )
        link(href="/bootstrap-icons/bootstrap-icons.css", rel="stylesheet")
        link(href="/css/custom-style.css",rel="stylesheet")
        script(src="/bootstrap/js/bootstrap.min.js")
    body
        include templates/header
        include templates/sidebar
        main(class="container p-3")
            div(class="row")
                h5(class="text-center") Add bird details
                include templates/form_create_bird
        include templates/footer