footer(class="bg-primary p-2 d-flex justify-content-center align-items-center")
    p(class="text-center text-white p-0 m-0")
        span Data licensed from
        =" "
        a(href="https://www.birdsnz.org.nz/", class="text-info") Birds New Zealand
        =" "
        span for educational use within the University of Otago.
