h5 Conservation Status
ul(class="list-group list-group-flush")
    li(class="list-group-item")
        div(class='circle-small Not-Threatened')
        span Not Threatened
    li(class="list-group-item")
        div(class='circle-small Naturally-Uncommon')
        span Naturally Uncommon
    li(class="list-group-item")
        div(class='circle-small Relict')
        span Relict
    li(class="list-group-item")
        div(class='circle-small Recovering')
        span Recovering
    li(class="list-group-item")
        div(class='circle-small Declining')
        span Declining
    li(class="list-group-item")
        div(class='circle-small Nationally-Increasing')
        span Nationally Increasing
    li(class="list-group-item")
        div(class='circle-small Nationally-Vulnerable')
        span Nationally Vulnerable
    li(class="list-group-item")
        div(class='circle-small Nationally-Endangered')
        span Nationally Endangered
    li(class="list-group-item")
        div(class='circle-small Nationally-Critical')
        span Nationally Critical
    li(class="list-group-item")
        div(class='circle-small Data-Deficient')
        span Data Deficient

p Conservation status from #{" "}
    a(href="https://www.doc.govt.nz/nature/conservation-status/") DOC website
